* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
}
