.card-container {
  margin-top: 1rem;
  width: 150px;
  height: 140px;
  display: flex;
  border-radius: 12px;
  background-color: lightcoral;
  overflow: hidden;
  flex-direction: column;
}

.text-block {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.7rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: capitalize;
}

.image-block {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.image {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: 8%;
  left: 5%;
}

.card-container img {
  width: 100%;
  height: 100%;
  transform: rotate(30deg);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
}
