.album-container {
  color: #fff;
}

.album-container .top-heading p {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
